body {
    background-color: #f7ede2;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #84a59d;
}

h2 {
    font-size: 20px;
    text-align: center;
    color: #f28482;
}

a {
    text-decoration: none;
    display: block;
}

img {
    width: 400px;
}

.flexbox-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.flexbox-item {
width: 350px;
height: 400px;
padding: 30px;
text-align: center;
}

.one {
    flex-shrink: 0;
    flex-grow: 1;
}

.two {
    flex-grow: 1;
    flex-shrink: 1;
}

.three {
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
}

.second-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.five {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
}